.calculator {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px;
}

.calculator-inner {
  border: 1px solid grey;
  background-color: #bbb;
}

.result {
  height: 70px;
}

.result p {
  margin: 0;
  padding: 20px;
  text-align: right;
  font-size: 20px;
}

.keypad {

}

.keypad button {
  width: 25%;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
}